nohup.out
dn-dev

docker/python2/pyxattr
docker/python2/pandas-datareader
data/src/*.png
data/dst/*.png
data/src/spy.csv
*.zlib.pickle
*.pickle.zlib

*.pyc
*.pyo
*.swp
*.db

*/*.pyc
*/*.pyo
*/*.swp
*/*.db

*/*/*.pyc
*/*/*.pyo
*/*/*.swp
*/*/*.db

*/*/*/*.pyc
*/*/*/*.pyo
*/*/*/*.swp
*/*/*/*.db

